<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catLoading1-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,0},{385,426}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{385,426}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,426},{401,424}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{401,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,860},{403,424}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{403,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1290},{393,428}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,33},{393,428}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading13-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{401,428}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{401,428}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading14-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,860},{399,428}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,33},{399,428}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading15-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,817},{391,422}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{391,422}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading16-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,852},{393,424}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,37},{393,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading17-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,819},{391,424}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{391,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading18-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,393},{391,424}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{391,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading2-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,0},{391,424}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,37},{391,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading3-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1278},{391,424}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,37},{391,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading4-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1286},{399,424}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,37},{399,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading5-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,430},{391,428}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{391,428}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading6-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1290},{393,428}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,33},{393,428}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading7-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{399,428}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{399,428}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading8-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,393},{393,422}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,39},{393,422}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>catLoading9-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{405,424}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{405,424}}</string>
                <key>sourceSize</key>
                <string>{453,472}</string>
            </dict>
            <key>level10A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1873},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level10D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1720},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level11A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1873},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level11D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1720},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level12A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1873},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level12D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1720},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level13A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1873},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level13D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1720},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level14A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1873},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level14D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1720},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level1A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1362},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level1D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1362},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level2A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1515},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level2D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1362},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level3A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,1210},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level3D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1210},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level4A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1857},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level4D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1704},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level5A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1857},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level5D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1704},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level6A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1857},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level6D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1704},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level7A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1865},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level7D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1712},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level8A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1865},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level8D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1712},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level9A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1873},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>level9D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1720},{151,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,150}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>imgPack2-HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
