<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,485},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>cancelHFA.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,605},{77,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{77,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>cancelHFD.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,592},{77,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{77,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>cancelHFP.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,563},{77,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{77,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>changeEmptyTileA.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,440},{79,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{79,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>changeEmptyTileD.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,428},{79,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{79,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>changeEmptyTileP.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,366},{79,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{79,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>engageHFA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{75,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{75,74}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>engageHFD.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,289},{75,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{75,74}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>engageHFP.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,212},{75,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{75,74}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>extrasA.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,212},{105,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,147}}</string>
                <key>sourceSize</key>
                <string>{105,147}</string>
            </dict>
            <key>extrasP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{105,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,147}}</string>
                <key>sourceSize</key>
                <string>{105,147}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,178},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>helpA.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,482},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>helpD.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,377},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>helpP.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,320},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>inGamePanel.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,108}}</string>
                <key>sourceSize</key>
                <string>{640,108}</string>
            </dict>
            <key>infoA.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,320},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>infoD.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,319},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>infoP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>loadingSpeechBalloon-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{308,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,174}}</string>
                <key>sourceSize</key>
                <string>{308,174}</string>
            </dict>
            <key>movesA.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,640},{55,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{55,68}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>movesD.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,446},{55,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{55,68}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>nextBoardA.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,502},{67,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{67,78}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>nextBoardD.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,572},{67,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{67,78}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>nextBoardP.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,503},{67,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{67,78}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>optionsA.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,514},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{77,76}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>optionsD.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,514},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{77,76}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>optionsP.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,485},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{77,76}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>pauseA.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,269},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>pauseD.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,212},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>pauseP.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,212},{121,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,106}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>quitA.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,492},{63,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{63,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>quitD.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,427},{63,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{63,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>quitP.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,427},{63,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{63,72}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>reshuffleA.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,709},{77,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{77,66}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>reshuffleD.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,679},{77,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{77,66}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>reshuffleP.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,641},{77,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{77,66}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>resumeA.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,298},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{57,70}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>resumeD.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,239},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{57,70}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>resumeP.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,180},{57,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{57,70}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>showBoardA.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,357},{87,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{87,68}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>showBoardD.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,91},{87,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{87,68}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>showBoardP.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{87,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{87,68}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>splashTitle-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{618,98}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{618,98}}</string>
                <key>sourceSize</key>
                <string>{620,146}</string>
            </dict>
            <key>starWing-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,178},{215,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,89}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance1-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,139},{23,15}}</string>
                <key>offset</key>
                <string>{-91,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{23,15}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance2-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,521},{25,57}}</string>
                <key>offset</key>
                <string>{-70,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{25,57}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance3-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,394},{45,73}}</string>
                <key>offset</key>
                <string>{-31,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{45,73}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance4-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,473},{39,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{39,89}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance5-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,319},{45,73}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,3},{45,73}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance6-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,428},{35,55}}</string>
                <key>offset</key>
                <string>{77,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,19},{35,55}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>starWingGlance7-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,112},{25,15}}</string>
                <key>offset</key>
                <string>{92,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,18},{25,15}}</string>
                <key>sourceSize</key>
                <string>{215,89}</string>
            </dict>
            <key>swapTilesA.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,405},{89,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{89,66}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>swapTilesD.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,337},{89,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{89,66}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>swapTilesP.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,269},{89,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{89,66}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>timerA.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,571},{61,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{61,64}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>timerD.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,545},{61,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{61,64}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>tutorialA.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,386},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>tutorialP.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,290},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,428},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>yesNoCancelA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>yesNoCancelD.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,532},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>yesNoCancelP.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,492},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>yesNoEngageA.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,469},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>yesNoEngageD.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,577},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>yesNoEngageP.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,514},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>imgPack1-HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
