<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catLoading1-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,648},{193,214}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{193,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,0},{201,214}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{201,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{203,214}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{203,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{197,214}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{197,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading13-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,216},{201,214}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{201,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading14-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{201,214}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{201,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading15-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,214},{197,212}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{197,212}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading16-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,430},{197,212}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{197,212}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading17-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,216},{197,214}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{197,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading18-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,0},{197,212}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{197,212}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading2-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,216},{197,212}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{197,212}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading3-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,432},{197,214}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{197,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading4-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{201,214}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{201,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading5-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,648},{197,214}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{197,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading6-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,432},{197,214}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{197,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading7-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{201,214}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{201,214}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading8-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,432},{197,212}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{197,212}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>catLoading9-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,648},{203,212}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{203,212}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>level10A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level10D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level11A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level11D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level12A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level12D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level13A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level13D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level14A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level14D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level1A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,875},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level1D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,798},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level2A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,721},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level2D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,721},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level3A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,644},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level3D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,644},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level4A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,940},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level4D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,862},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level5A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,940},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level5D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,862},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level6A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,940},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level6D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,862},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level7A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level7D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level8A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level8D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level9A-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,942},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>level9D-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,864},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>imgPack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
