<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,190},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>cancelHFA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{39,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>cancelHFD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{39,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>cancelHFP.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,361},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{39,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>changeEmptyTileA.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,248},{41,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{41,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>changeEmptyTileD.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,234},{41,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{41,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>changeEmptyTileP.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,230},{41,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{41,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>engageHFA.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,326},{39,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>engageHFD.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,326},{39,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>engageHFP.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,314},{39,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>extrasA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>extrasP.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,91},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,269},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>helpA.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,193},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>helpD.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,164},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>helpP.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,164},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>inGamePanel.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,54}}</string>
                <key>sourceSize</key>
                <string>{320,54}</string>
            </dict>
            <key>infoA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>infoD.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,167},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>infoP.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,138},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>loadingSpeechBalloon-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{154,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,87}}</string>
                <key>sourceSize</key>
                <string>{154,87}</string>
            </dict>
            <key>movesA.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,328},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{29,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>movesD.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,365},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{29,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>nextBoardA.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,402},{35,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>nextBoardD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{35,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>nextBoardP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{35,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{35,39}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>optionsA.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,287},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>optionsD.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,253},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>optionsP.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,273},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>pauseA.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,109},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>pauseD.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,109},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>pauseP.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,109},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>quitA.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,443},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{33,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>quitD.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,219},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{33,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>quitP.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,262},{33,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{33,37}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>reshuffleA.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,328},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{39,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>reshuffleD.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,365},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{39,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>reshuffleP.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,253},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{39,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>resumeA.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,76},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{29,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>resumeD.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,39},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{29,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>resumeP.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{29,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>showBoardA.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,138},{45,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{45,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>showBoardD.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,146},{45,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{45,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>showBoardP.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,109},{45,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{45,35}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>splashTitle-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{310,49}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{310,49}}</string>
                <key>sourceSize</key>
                <string>{310,73}</string>
            </dict>
            <key>starWing-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,91},{108,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,45}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance1-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,246},{14,9}}</string>
                <key>offset</key>
                <string>{-46,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{14,9}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance2-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,248},{14,29}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{14,29}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance3-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{24,39}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance4-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,210},{22,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance5-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,164},{24,37}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{24,37}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance6-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,209},{14,29}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,9},{14,29}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>starWingGlance7-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,230},{14,9}}</string>
                <key>offset</key>
                <string>{46,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,8},{14,9}}</string>
                <key>sourceSize</key>
                <string>{108,45}</string>
            </dict>
            <key>swapTilesA.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,218},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{45,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>swapTilesD.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,183},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{45,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>swapTilesP.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,175},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{45,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>timerA.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,148},{31,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{31,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>timerD.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,113},{31,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{31,33}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>tutorialA.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,213},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>tutorialP.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,164},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>yesNoCancelA.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,325},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>yesNoCancelD.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,289},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>yesNoCancelP.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,253},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>yesNoEngageA.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,294},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>yesNoEngageD.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,218},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>yesNoEngageP.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,183},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>imgPack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
