<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>splashBG1-HD.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{482,644},{320,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,480}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
		<key>splashBG2-HD.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,644},{320,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,480}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
		<key>splashBG3-HD.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{482,322},{320,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,480}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
		<key>splashBG4-HD.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,322},{320,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,480}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
		<key>splashBG5-HD.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{482,0},{320,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,480}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
		<key>splashBG6-HD.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{320,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,480}}</string>
			<key>sourceSize</key>
			<string>{320,480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>splashBGAtlas1.pvr.ccz</string>
	</dict>
</dict>
</plist>
