<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubbles01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1284},{278,132}}</string>
                <key>offset</key>
                <string>{-4,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,534},{278,132}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{262,174}}</string>
                <key>offset</key>
                <string>{-83,311}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,29},{262,174}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{288,232}}</string>
                <key>offset</key>
                <string>{-114,260}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,51},{288,232}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{272,308}}</string>
                <key>offset</key>
                <string>{43,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,93},{272,308}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1284},{244,298}}</string>
                <key>offset</key>
                <string>{-169,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,332},{244,298}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1564},{236,220}}</string>
                <key>offset</key>
                <string>{-23,299}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,18},{236,220}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{568,272}}</string>
                <key>offset</key>
                <string>{-32,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,132},{568,272}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1530},{270,256}}</string>
                <key>offset</key>
                <string>{185,244}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,55},{270,256}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,696}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{592,696}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,840},{338,240}}</string>
                <key>offset</key>
                <string>{151,270}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,37},{338,240}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1564},{272,254}}</string>
                <key>offset</key>
                <string>{-80,271}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,29},{272,254}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{608,482}}</string>
                <key>offset</key>
                <string>{10,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,95},{608,482}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles13-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,276},{562,304}}</string>
                <key>offset</key>
                <string>{12,-275}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,550},{562,304}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
            <key>bubbles14-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1082},{324,200}}</string>
                <key>offset</key>
                <string>{89,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,103},{324,200}}</string>
                <key>sourceSize</key>
                <string>{640,854}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>bubbles-HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
