<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level12_1_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_1_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_2_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_3_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_4_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_5_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_6_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1722},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1507},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level12_7_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>level12_1-HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
