<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level4_16_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_16_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,217},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_17_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_01-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_02-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_03-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_04-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_05-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_06-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_07-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_08-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_09-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,647},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_10-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_11-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>level4_18_12-HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,432},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>level4_3-HD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
